<a href="https://colab.research.google.com/github/Snakesystem/Google-Colab/blob/main/Experimen_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Penulisan satu statement di dalam Python tidak diakhiri dengan tanda titik-koma

In [ ]:
print("Halo Dunia")
print("Panjang = 100")
print("lebar = 23")
print("Saya suka belajar python")

Halo Dunia
Panjang = 100
lebar = 23
Saya suka belajar python

2. Statement pada Pyhton dinyatakan dalam satu baris. Jadi akhir dari sebuah pernyataan adalah baris baru (new line)

In [ ]:
print("luas = panjang * lebar")

luas = panjang * lebar

3. Jika ada pernyataan yang panjangnya terdiri lebih dari 1 baris, maka dapat dilakukan dengan menggunakan tanda backslash ( \ ) .

In [ ]:
print("volume = panjang * lebar *\ tinggi")

volume = panjang * lebar *\ tinggi

4. Statement yang ada di dalam atau diapit oleh tanda kurung seperti "[],{},()" tidak memerlukan tanda ""

In [ ]:
nama_hari = ['Senin','Selasa','Rabu','Kamis','Jumat','Sabtu']
print(nama_hari)

['Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu']

5. Python menggunakan tanda indentasi (spasi) sebagai penanda blok. Panjang spasi atau indentasi untuk setiap baris yang ada dalam satu blok kode harus sama. Bila spasi atau indentasi dalam satu grup kode tersebut tidak sama, python akan menamplikan sintaks error

In [ ]:
usia = 7
if usia >= 7:
  print("diterima masuk SD")
  print("dinyatakan lulus")
else:
  print("tidak diterima masuk SD")
  print("dinyatakan gagal")

diterima masuk SD
dinyatakan lulus

6. Sebaga penanda string, Python menggunakan tanda kutip, baik tunggal ('), maupun ganda("). Tanda kutip tiga(""") digunakan untuk string multibaris

In [ ]:
namadepan = ('Alvin')
namalengkap = ("Alvin Agusta Wahyono")
alinea = """Berikut ini adalah alinea yang terdiri dari beberapa baris."""
print(namadepan)
print(namalengkap)
print(alinea)

Alvin
Alvin Agusta Wahyono
Berikut ini adalah alinea yang terdiri dari beberapa baris.

7. Bahasa Python bersifat case sensitif, yang berarti membedakan huruf besar dan huruf kecil (memiliki nilai yang berbeda).

In [ ]:
# contoh statement benar
luas = 15*3
print(luas)

45

8. Untuk komentar di awali dengan tanda "#" yang artinya tidak diproses sebagai statement code.

In [ ]:
# contoh
# perintah untuk menghitung luas
panjang = 15
lebar = 3
luas = (panjang*lebar)
print(luas)

45

In [ ]:
# kode awal
total_harga = 150000
potongan_harga = 0.3
pajak = 0.1 # pajak dalam persen ~ 10%
harga_bayar = 1 - 0.3 # baris pertama
harga_bayar *= total_harga # baris kedua
pajak_bayar = pajak * harga_bayar # baris ketiga
harga_bayar += pajak_bayar # baris ke-4
print("kode awal - harga_bayar=", harga_bayar)
# penyederhanaan baris kode dengan menerapkan prioritas operator
total_harga = 150000
potongan_harga = 0.3
pajak = 0.1 # pajak dalam persen ~ 10%
harga_bayar = (1 - 0.3) * total_harga #baris pertama
harga_bayar += harga_bayar * pajak # baris kedua
print("penyederhanaan code - harga_bayar =", harga_bayar)

kode awal - harga_bayar= 115500.0
penyederhanaan code - harga_bayar = 115500.0

In [ ]:
sepatu = { "nama" : "Sepatu_Niko", "harga" : 150000, "diskon" : 30000 }
baju = { "nama" : "Baju Unikloh", "harga" : 80000, "diskon" : 8000 }
celana = { "nama" : "Celana Lepis", "harga" : 200000, "diskon" : 60000 }
harga_sepatu = sepatu["harga"] - sepatu["diskon"]
harga_baju = baju["harga"] - baju["diskon"]
harga_celana = celana["harga"] - celana["diskon"]
total_harga = (harga_sepatu + harga_baju + harga_celana) * 1.1
print(total_harga)

365200.00000000006

In [ ]:
tagihan_ke = 'Mr. Yoyo'
warehousing = {'harga_harian': 1000000, 'total_hari' : 15}
cleansing = {'harga_harian' : 1500000, 'total_hari' : 10}
integration = {'harga_harian' : 2000000, 'total_hari' : 15}
transform = {'harga_harian' : 2500000, 'total_hari' : 10}
sub_warehouse = warehousing['harga_harian'] * ['total_hari']
sub_cleansing = cleansing['harga_harian'] * ['total_hari']
sub_integration = integration['harga_harian'] * ['total_hari']
sub_transform = transform['harga_harian'] * ['total_hari']
total_harga = sub_warehouse + sub_cleansing + sub_integration + sub_transform
print("tagihan kepada:")
print(tagihan_ke)
print("Selamat pagi, anda harus membayar tagihan ke:")
print(total_harga)

tagihan kepada:
Mr. Yoyo
Selamat pagi, anda harus membayar tagihan ke:

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

**Python while loops – Part1**

In [ ]:
# Tagihan
tagihan = [50000, 75000, 125000, 300000, 200000]
# Tanpa menggunakan while loop
total_tagihan = tagihan[0] + tagihan[1] + tagihan[2] + tagihan[3] + tagihan[4]
print(total_tagihan)
# Dengan menggunakan while loop
i = 0 # sebuah variabel untuk mengakses setiap elemen tagihan satu per satu
jumlah_tagihan = len(tagihan) # panjang (jumlah elemen dalam) list tagihan
total_tagihan = 0 # mula-mula, set total_tagihan ke 0
while i < jumlah_tagihan: # selama nilai i kurang dari jumlah_tagihan
    total_tagihan += tagihan[i] # tambahkan tagihan[i] ke total_tagihan
    i += 1 # tambahkan nilai i dengan 1 untuk memproses tagihan selanjutnya.
print(total_tagihan)

750000
750000

**Python while loops – Part2**

In [ ]:
tagihan = [50000, 75000, -150000, 125000, 300000, -50000, 200000]
i = 0
jumlah_tagihan = len(tagihan)
total_tagihan = 0
while i < total_tagihan:
  # jika terdapat tagihan ke-i yang bernilai minus (di bawah nol),
  # pengulangan akan dihentikan
  if tagihan[i] < 0:
    total_tagihan = -1
    print("terdapat nilai minus dalam tagihan, perhitungan dihentikan!")
    break
  total_tagihan = tagihan[i]
  i = 1
print(total_tagihan)

0

**Python while loops – Part3**

In [ ]:
tagihan = [50000, 75000, -150000, 125000, 300000, -50000, 200000]
i = 0
jumlah_tagihan = len(tagihan)
total_tagihan = 0
while i < total_tagihan:
  # jika terdapat tagihan ke-i yang bernilai minus (di bawah nol),
  # pengulangan akan dihentikan
  if taguhan[X] < 0:
    i += 1
    continue
    total_tagihan += tagihan[i]
    i += 1
print(total_tagihan)

0

**Python for loops – Part1**

In [ ]:
list_tagihan = [50000, 75000, -150000, 125000, 300000, -50000, 200000]
total_tagihan = 0
for tagihan in list_tagihan:
  if tagihan < 0:
    print("terdapat nilai minus dalam tagihan, perhitungan dihentikan!")
    break
  total_tagihan += tagihan
print(total_tagihan)

terdapat nilai minus dalam tagihan, perhitungan dihentikan!
125000

**Ekspedisi Pamanku**

In [ ]:
# Data
Uang_jajan = 1500000
Jumlah_hari = 31
list_plat_nomor = [8993, 2198, 2501, 2735, 3772, 4837, 9152]
# pengecekan kendaraandengan plat nomor ganjil atau genap
# Deklarasi kendaraan_genap dan kendaraan_ganjil = 0
kendaraan_genap = 0
kendaraan_ganjil = 0
for plat_nomor in list_plat_nomor:
  if plat_nomor % 2 == 0:
    kendaraan_genap += 1
  else:
    kendaraan_ganjil += 1
# Total pengeluaran untuk kendaraan dengan plat nomor ganjil
# dan genap dalam 1 bulan
i = 1
total_pengeluaran = 0
while i <= Jumlah_hari:
  if i % 2 == 0:
    total_pengeluaran += (kendaraan_genap * Uang_jajan)
  else:
    total_pengeluaran += (kendaraan_ganjil * Uang_jajan)
  i += 1
# cetak pengeluaran
print(total_pengeluaran)

163500000