<a href="https://colab.research.google.com/github/Snakesystem/Study-Independen/blob/main/Experimen_Training_MBA_bussines.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!wget -O https://raw.githubusercontent.com/Snakesystem/dataset/main/experimen/food_coded.csv

--2021-10-07 07:48:31--  https://raw.githubusercontent.com/Snakesystem/dataset/main/experimen/food_coded.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 72585 (71K) [text/plain]
Saving to: ‘data.csv’

data.csv            100%[===================>]  70.88K  --.-KB/s    in 0.01s

2021-10-07 07:48:31 (5.82 MB/s) - ‘data.csv’ saved [72585/72585]

# Implementing market basket analysis

In [ ]:
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [ ]:
#Reading Data From github
df = pd.read_csv('sample_data')
df

ParserError: ignored

In [ ]:
df['InvoiceNo'].value_counts()

573585     1114
581219      749
581492      731
580729      721
558475      705
           ...
537863        1
C542259       1
556260        1
537432        1
542926        1
Name: InvoiceNo, Length: 25900, dtype: int64

In [ ]:
df['Description'].value_counts()

WHITE HANGING HEART T-LIGHT HOLDER     2369
REGENCY CAKESTAND 3 TIER               2200
JUMBO BAG RED RETROSPOT                2159
PARTY BUNTING                          1727
LUNCH BAG RED RETROSPOT                1638
                                       ...
MUMMY MOUSE RED GINGHAM RIBBON            1
alan hodge cant mamage this section       1
for online retail orders                  1
Thrown away.                              1
FOUND                                     1
Name: Description, Length: 4223, dtype: int64

# Data Preparation

In [ ]:
df['Description'] = df['Description'].str.strip() #menghilangkan spasi
df.dropna(axis=0, subset=['InvoiceNo'], inplace=True) #menghilangkan adanya data yang duplikat
df['InvoiceNo'] = df['InvoiceNo'].astype('str') #mengkonversi angka invoice ke string
df = df[~df['InvoiceNo'].str.contains('C')] #menghilangkan credit pada transaksi
df.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [ ]:
df['Country'].value_counts()
#df.shape

United Kingdom          487622
Germany                   9042
France                    8408
EIRE                      7894
Spain                     2485
Netherlands               2363
Belgium                   2031
Switzerland               1967
Portugal                  1501
Australia                 1185
Norway                    1072
Italy                      758
Channel Islands            748
Finland                    685
Cyprus                     614
Sweden                     451
Unspecified                446
Austria                    398
Denmark                    380
Poland                     330
Japan                      321
Israel                     295
Hong Kong                  284
Singapore                  222
Iceland                    182
USA                        179
Canada                     151
Greece                     145
Malta                      112
United Arab Emirates        68
European Community          60
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              25
Bahrain                     18
Saudi Arabia                 9
Name: Country, dtype: int64

In [ ]:
#memisahkan/memfokuskan ke negara Germany
mybasket = (df[df['Country'] =="Germany"]
          .groupby(['InvoiceNo', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('InvoiceNo'))

In [ ]:
#melihat transaksi yang ada pada basket(keranjang)
mybasket.head()

Description  10 COLOUR SPACEBOY PEN  ...  ZINC WILLIE WINKIE  CANDLE STICK
InvoiceNo                            ...
536527                          0.0  ...                               0.0
536840                          0.0  ...                               0.0
536861                          0.0  ...                               0.0
536967                          0.0  ...                               0.0
536983                          0.0  ...                               0.0

[5 rows x 1695 columns]

In [ ]:
#mengkonversi seluruh nilai positif menjadi 1 dan sisanya menjadi 0
def my_encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

my_basket_sets = mybasket.applymap(my_encode_units)
my_basket_sets.drop('POSTAGE', inplace=True, axis=1)

# Training Model

In [ ]:
#men-generate frekuensi data menggunakan algoritma apriori
my_frequent_itemsets = apriori(my_basket_sets, min_support=0.07, use_colnames=True)

In [ ]:
#men-generate aturan
my_rules = association_rules(my_frequent_itemsets, metric="lift", min_threshold=1)

In [ ]:
#melihat top 100 data teratas
my_rules.head(100)

                            antecedents  ... conviction
0    (PLASTERS IN TIN WOODLAND ANIMALS)  ...   1.640006
1  (ROUND SNACK BOXES SET OF4 WOODLAND)  ...   1.237951
2   (ROUND SNACK BOXES SET OF 4 FRUITS)  ...   4.529540
3  (ROUND SNACK BOXES SET OF4 WOODLAND)  ...   1.814509
4                  (SPACEBOY LUNCH BOX)  ...   2.365427
5  (ROUND SNACK BOXES SET OF4 WOODLAND)  ...   1.256018

[6 rows x 9 columns]

# Making reecommendations

In [ ]:
my_basket_sets['ROUND SNACK BOXES SET OF4 WOODLAND'].sum()

112

In [ ]:
my_basket_sets['PLASTERS IN TIN WOODLAND ANIMALS'].sum()

63

In [ ]:
#Filtering rules based on condition
my_rules[ (my_rules['lift'] >= 1) & 
       (my_rules['confidence'] >= 0.3) ]

                            antecedents  ... conviction
0    (PLASTERS IN TIN WOODLAND ANIMALS)  ...   1.640006
1  (ROUND SNACK BOXES SET OF4 WOODLAND)  ...   1.237951
2   (ROUND SNACK BOXES SET OF 4 FRUITS)  ...   4.529540
3  (ROUND SNACK BOXES SET OF4 WOODLAND)  ...   1.814509
4                  (SPACEBOY LUNCH BOX)  ...   2.365427

[5 rows x 9 columns]